*{
    margin : 0;
    padding : 0;
 }

 html {
      scroll-behavior: smooth;
    }

 
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

 }

 /* Header halaman */
nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
}

.navbar-fix{
    width: 100%;
    background-color: black;
    padding-bottom: 1px;
    position: fixed;
}

nav .logo{
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    color: rgb(252, 251, 251);
    font-size : 25px;
    padding-left: 15px;
 }

nav .login{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 50px;
    background-color: transparent;
}

.logo img{
    width: 240px;
    height: 70px;
    margin-left: -30px;
}
.logo p{
    padding-top: 100px;
}

.search-input{
    float: left;    
    width: 12rem;
    height: 1rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.search{
    float: left;
    background-color: #004f78;
    color: white;
    border-radius: 10px;
    padding: 6px;
    border: none;
    transition: 0.5s ease all;
}
.search:hover{
    background-color: #00bcd2;
}
.btv{
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-left: 20px;
}
.btv img{
    width: 25px;
    height: 25px;
}

.dr img{
    margin-top: 10px;
    width: 25px;
    height: 25px;
}
.opsi-login a{
    color: white;
    margin-left: 100PX;
    text-decoration: none;
    transition: 0.5s ease all;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opsi-login a:hover {
    color: #ff9f19;
    font-weight: bold;
    cursor: pointer;
}
.login form{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/*section1*/
main{
    height: 100rem;
    padding-top: 90px;
    box-sizing: border-box;
    background-color: rgba(148, 148, 148, 0.25);
}



.menu{
        background-color: transparent;
        font-size: 15px;
    }
    .menu ul .home{
        padding-top: 10px;
    }
 
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
 
    .menu > ul > li {
        float: left;
    }
 
    
    .menu li a {
        display: inline-block;
        color: white;
        margin-left: 0px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
 
 
    li.dropdown {
        display: inline-block;
    }
 
    .dropdown:hover .isi-dropdown {
        display: block;
    }
 
    .isi-dropdown {
        position: absolute;
        display: none;
        box-shadow: 0px 3px 30px 5px orange;
        z-index: 1;
        border-radius: 10px;
        background-color: black;
    }
 
    .isi-dropdown a {
       color: white; !important;
    }
    .isi-dropdown a:hover {
       color: orange !important;
    }

.section1{
    display: flex;

}
.News{
    display: flex;
    width: 100%; 
    height: 100%; 
    justify-content: center;
    gap: 100px;
    padding: 20px;
    padding-bottom: 60px;
}
.section1 img{
    display: block;
    margin: auto;
    width: 800px;
    height: 500px;
    border: 2px black solid;
}

.section1 div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    list-style: none;
    gap: 20px;
}

.section1 h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.section1 p{
    display: flex;
    justify-content: center;
    text-align: justify;
    text-size-adjust: 20px;
}


footer {
    display: flex;
    color: white;
    margin-top: -50px;
    text-align: left;
    padding: 50px;
    background-color:black;
    position: -webkit-sticky;
}

footer .logo-ft{
    width: 300px;
    height: 50px;
    background-color: transparent;
    padding-left: 30px;
}
footer .logo-ft img{
    width: 240px;
    height: 70px;
}

.section2-1{
    display: list-item;
    margin-top: 100px;
    background-color: black;
    padding-bottom: 100px;
    width: 100%;
}

.container{
  padding-top: 50px;
  max-width: 100%;
  justify-content: space-around;
  display: flex;
}

.contact {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  border-radius: 10px;
  box-shadow: 0 10px 20px orange;
  background: linear-gradient(to bottom, black,black);
}
.comment-box .gradient-bg {
    background-color: #fff;
    padding: 40px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 10px 20px orange;
    background: linear-gradient(to bottom, black,black);
}

.comment-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.comment-title2 {
  font-size: 27px;
  text-align: left;
  margin-bottom: 30px;
  color: #fff;
  padding: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
  background-color: #f2f2f2;
  color: #333;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  background-color: #fff;
}

textarea{
    font-family: sans-serif;
}

.btn-submit {
  background-color: #005aaa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: ;
}

.gradient-bg {
  
}

.gradient-bg .btn-submit {
  background-color: #fff;
  color: #005aaa;
  border: 2px solid #fff;
  transition: background-color 0.3s, color 0.3s;
}

.gradient-bg .btn-submit:hover {
  background-color: #005aaa;
  color: #fff;
}

 @media (max-width: 880px){
    .search-input{
        width: 150px;
    }
    .logo img{
        width: 250px;
        height: 20px;
    }
    .navbar li a{
        padding: 5px 10px;
        font-size: 10px;
    }
    .box1{
        width: 150px;
    }
    .section1 .A{
        width: 150px;
        margin: 10px;
    }
    .section1 .B{
        width: 70%;
        padding-top: 60px;
        padding-bottom: 60px;
        padding: 70px;
        margin: auto;
    }
    .samping{
        padding-right: 60px;
    }
    .samping .comment {
        margin-left: -150px;
        width: 140px;
        font-size: 12px;
    }
    .samping .hot{
        margin-left: -150px;
        width: 140px;
        font-size: 12px;
    }
    .section2 .utama-2{
        width: 700px;

    }
    .vrl{
        padding-top: 80px;
    }
    .box6{
        padding-left: 100px;
    }
    .sosmed{
        width: 30px;
        height: 30px;
    }
    .sosmed img{
        width: 30px;
        height: 30px;
    }
    .box6 p{
        margin-left: 25px;
    }
    .logo img{
        height: 50px;
        width: 190px;
    }
    .menu ul .isi-dropdown{
        margin-right: 20px;
    }
    .menu .isi-dropdown li a{
        font-size: 10px;
    }
}

@media (max-width: 1224px){
    
}