<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MedanTech_27</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <header>
            <div class="navbar-fix">
                <nav>
                    <div class = "logo">
                        <img src="../img/LOGO.png">
                    </div>

                    <nav class="login">
                        <form>
                             <input type="text" placeholder="Cari topik" class="search-input">
                             <button type="submit" class="search">Search</button>
                        </form>

                         <div type="button" class="btv"><img src="../img/ic.png"></div>
        
                        <b class="opsi-login">  
                         <div class="menu">
                            <ul>
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="profil.html">About Us</a></li>
                            </ul>
                        </div>   
                        </b>
                    </nav>
                </nav>

                <ul class="navbar">
                    <li class="app" onclick="myfunction()"><a href="app.html">Apps & OS</a></li>
                    <li><a href="Busines.html">Business</a></li>
                    <li><a href="Internet.html">Internet</a></li>
                    <li><a href="galery.html">Gallery</a></li>
                    <li><a href="tech.html">Tech Innovation</a></li>
                    <li><a href="gadget.html">Gadget</a></li>
                    <li><a href="hardware.html">Hardware</a></li>
                    <li><a href="game.html">Game</a></li>
                    <li><a href="ind.html">Indeks</a></li>
                    <li><a href="Kilas.html">Kilas Internet</a></li>
                </ul>
            </div>    
        </header>
        <main>
            <div class="b-utama">
                <div class="utama">
                    <a href="detail_berita.html">
                        <h1>Title Berita</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </a>
                </div>
            </div>
            <section class="section1">
                <span class="News">
                    <div>
                        <h1>Berita Terbaru</h1>

                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                         <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="samping">
                    <a href="detail_berita.html">
                        <b class="comment">Berita Tekhnologil</b>
                    </a>
                    <a href="detail_berita.html">
                        <b class=" hot"> Saran Teknologi</b>
                    </a>    
                    </div>
                </span>
            </section>

            <section class="section1">
                <span class="News">
                    <div>
                        <h1>Berita Tekhnologi</h1>

                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="samping">
                    <a href="detail_berita.html">
                        <b class=" hot"> Saran Teknologi</b>
                    </a>
                    </div>
                </span>
            </section>


            <h1 class="title-A" id="ti-a">Jelajahi</h1>
            <section class="section2">
                <div class="F">
                    <div class="box4">
                        <ul>
                            <li><a href="">Beranda</a></li>
                            <li><a href="">App & OS</a></li>
                            <li><a href="">Busines</a></li>
                            <li><a href="">Internet</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Tech Inovasion</a></li>
                        </ul>
                    </div>
                    <div class="box4">
                        <ul>
                            <li><a href="">Gadget</a></li>
                            <li><a href="">Hardware</a></li>
                            <li><a href="">Game</a></li>
                            <li><a href="">Index</a></li>
                            <li><a href="">Kilas Internet</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="box5">
                <ul>
                    <li>
                        <a href="">
                             <div class = "logo">
                                <img src="../img/LOGO.png">
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class = "logo">
                            <div class="logos"></div>
                            <div class="logos"></div>
                            <div class="logos"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box6">
                <a href=""><div class="sosmed"><img src="../img/fc.png"></div></a>
                <a href=""><div class="sosmed"><img src="../img/ig.png"></div></a>
                <a href=""><div class="sosmed"><img src="../img/TWT.png"></div></a>    
                <p class="ft"> &copy; Tim IT MedanTech</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script>
            const btn = document.querySelector('.btv');
         
            function random(number) {
              return Math.floor(Math.random() * (number+1));
            }
         
            btn.addEventListener('click', () => {
              const rndCol = `rgb(${random(500)}, ${random(500)}, ${random(500)})`;
              document.body.style.backgroundColor = rndCol;
            });
          </script>
    </body>

</html>