<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MedanTech_27</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/profil.css">
    </head>

    <body>
        <main  style="padding-top: 0px;">
            <section class="section1">
                <span class="News">
                    <div><h1>About Us</h1>

                        <div class="B">
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a href="detail_berita.html">
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="">
                                        </div> 
                                        <p>Nama Anggota</p>
                                    </div>
                                </a>
                            </div>
                        </div>      
                </span>
            </section>

    </body>

</html>